In [1]:
import module_face

In [2]:
a = module_face.face_recognition()

load_img, profile, export_csv

In [3]:
a.load_img()

In [4]:
a.profile()

/Users/anu/Desktop/face_recognition/module_face.py:24: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  age_series = pd.Series(name='age')
/Users/anu/Desktop/face_recognition/module_face.py:25: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  gender_series = pd.Series(name='gender')
Action: emotion:   0%|          | 0/3 [00:00<?, ?it/s]

1/1 [==============================] - 0s 108ms/step

Action: age:  33%|███▎      | 1/3 [00:00<00:01,  1.64it/s]

1/1 [==============================] - 1s 536ms/step

Action: gender:  67%|██████▋   | 2/3 [00:01<00:00,  1.31it/s]

1/1 [==============================] - 1s 559ms/step

Action: gender: 100%|██████████| 3/3 [00:02<00:00,  1.46it/s]

True

Action: emotion:   0%|          | 0/3 [00:00<?, ?it/s]

1/1 [==============================] - 0s 16ms/step

Action: age:   0%|          | 0/3 [00:00<?, ?it/s]

1/1 [==============================] - 0s 271ms/step

Action: gender:  67%|██████▋   | 2/3 [00:00<00:00,  4.54it/s]

1/1 [==============================] - 0s 265ms/step

Action: gender: 100%|██████████| 3/3 [00:00<00:00,  4.15it/s]

True

          angry   disgust      fear  ...       neutral  age  gender
0  7.800105e-30  0.000000  0.000000  ...  2.494205e-11   31   Woman
1  3.640825e+00  0.000058  3.021958  ...  8.052461e+01   31   Woman

[2 rows x 9 columns]

In [5]:
a.export_csv()